
body {
    margin: 0;
    padding: 0;
    margin-top: 10px;



    box-sizing: border-box;

    font-family: Roboto, sans-serif, Serif;
    color: #ffffff;

    background-color: #99aea2;
}
.container {

    margin: 0 auto;

    min-width: 900px;
    max-width: 1200px;

    padding-left: 2.25%;
    padding-right: 2.25%;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    height: 45px;

    font-size: 18px;
    line-height: 0px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 0px 3px  rgba(0,0,0, 0.6);

    border: none;
    border-radius: 35px;
    box-shadow: 0 2px 0 0 #a23324;
    outline: none;

    background-image: linear-gradient(to bottom, #f26843, #e74b36);
}

.button:hover,
.button:focus {
    background-image: linear-gradient(to bottom, #f58569, #ec6f5e);
}
.button:active {
    box-shadow: 0 -2px 0 0 #a23324;
    background-image: linear-gradient(to bottom, #d84732, #e1613e);
}

/*---------------------------*/

/* стили для меню навигации*/

.menu {
    display: flex;

}
.main-menu,
.user-menu,
.sub-menu {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-menu {
    display: flex;
    align-items: center;

    margin-left: 10px;

    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}
.main-menu-item {
    display: block;


    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;

    box-sizing: border-box;

    text-align: center;

    text-decoration: underline;
    text-decoration-color: rgba(255, 255,255 , 0.5);
    border-radius: 20px;
}
.main-menu  li {
    position: relative;
}
.main-menu-item:hover,
.main-menu-item:focus {
    background-color: #f7f6f3;

    color: #000000;
}
.main-menu-item:active {
    background-color: #f7f6f3;

    color: #000000;

    box-shadow: 0 -2px 2px 0 rgb(105,105,105);
}

/* всплывающее меню каталога*/
.sub-menu-wrapper {
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 10;

    display:none;

    padding-top: 10px;

}
.sub-menu {
    display: block;

    width: 143px;

    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

    border-radius: 10px;

    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #000000;
}
.main-menu-item-sub:hover  .sub-menu-wrapper,
.main-menu-item-sub:focus  .sub-menu-wrapper{
    display: block;
}


.sub-menu-item {
    display: block;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.sub-menu li:hover,
.sub-menu li:focus {
    background-color: #fbded7;
}
.sub-menu li:first-of-type:hover,
.sub-menu li:first-of-type:focus {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sub-menu li:last-of-type:hover,
.sub-menu li:last-of-type:focus {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sub-menu li:active {
    background-color: #f6b5a5;
}

.sub-menu li:first-child .sub-menu-item {
    padding-top: 14px;
    padding-bottom: 14px;

    font-weight: 700;
}
.sub-menu li:first-child::after {
    display: block;

    margin: 0 auto;

    content: "";
    width: 130px;
    height: 1px;

    background-color: rgba(0,0,0, 0.3);
}




/*-----------------------------*/


.user-menu {
    display: flex;
    align-items: center;

    margin-left: auto;

    font-size: 14px;
    font-weight: 500;
}
.user-menu-item {
    display: block;
}
.user-menu li:nth-of-type(1) .user-menu-item {
    width: 32px;
    height: 32px;

    background-image: url("img/magnifyingGlass.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(248, 247, 244, 0.2);

    border-radius: 50%;
}

.user-menu li:nth-of-type(1) {
    position: relative;
}

.user-menu li:nth-of-type(2) .user-menu-item {
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 44px;

    width: 92px;
    box-sizing: border-box;

    border-radius: 20px;

    text-align: left;

    background-color: rgba(248, 247, 244, 0.2);
    background-image: url("img/login.svg");
    background-repeat: no-repeat;
    background-position: 15px;
}
.user-menu li:nth-of-type(2) {
    position: relative;
}

.user-menu li:nth-of-type(3) .user-menu-item {

    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 44px;

    width: 117px;
    box-sizing: border-box;

    border-radius: 20px;

    text-align: left;

    background-color: rgba(248, 247, 244, 0.2);
    background-image: url("img/basket.svg");
    background-repeat: no-repeat;
    background-position: 15px;
}

.user-menu li:nth-of-type(1) .user-menu-item:hover,
.user-menu li:nth-of-type(1) .user-menu-item:focus {
    background-image: url("img/magnifyingGlass-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(248, 247, 244, 1);
}

.user-menu li:nth-of-type(2) .user-menu-item:hover,
.user-menu li:nth-of-type(2) .user-menu-item:focus {

    background-image: url("img/login-1.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: rgba(248, 247, 244, 1);

    color: #000000;
}
.user-menu li:nth-of-type(3) .user-menu-item:hover,
.user-menu li:nth-of-type(3) .user-menu-item:focus {

    background-image: url("img/basket-1.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: rgba(248, 247, 244, 1);

    color: #000000;
}



/* окно поиска и окно входа в меню nav */
.wrapper-search {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 10;

    display: none;

    padding-top: 12px;
}

.search-form {
    padding-top: 21px;
    padding-bottom: 21px;

    width: 341px;
    height: 84px;
    box-sizing: border-box;

    border-radius: 5px;

    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.search {
    display: block;
    margin: 0 auto;
    padding-left: 14px;

    width: 309px;
    height: 42px;
    box-sizing: border-box;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.user-menu-search:hover  .wrapper-search,
.user-menu-search:focus  .wrapper-search {
    display: block;
}

.login {
    position: absolute;
    right: 0;
    bottom: -219px;
    z-index: 10;

    display: none;

    padding-top: 10px;

}
.login-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 20px;

    width: 277px;
    height: 214px;
    box-sizing: border-box;

    border-radius: 5px;

    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.login input {

    padding-left: 18px;

    width: 239px;
    height: 42px;
    box-sizing: border-box;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.login button {

    margin-right: 20px;
    padding-top: 0;
}
.login div {
    align-self: center;
    margin-top: -20px;
}

.login-form a {
    display: block;

    margin-bottom: 10px;

    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    color: #000000;
    text-decoration-line: underline;
    text-decoration-color: rgba(0,0,0, 0.5);
}

.login a:nth-of-type(2) {
    margin-bottom: 0;
}

.user-menu-login:hover  .login,
.user-menu-login:focus  .login{
    display: flex;
}

/* стили для слайдера */

.slider-conteiner {
    position: relative;
    top: -30px;
    height: 584px;


}
.schedule  {
    margin: 0 auto;
    line-height: 5px;
    text-align: right;

}
.schedule span:nth-of-type(1) {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}
.schedule span:nth-of-type(2) {
    display: block;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
}
.sliderOne,
.sliderTwo,
.sliderThree {
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;

    padding-top: 310px;
    width: 100%;
    height: 584px;
    box-sizing: border-box;

    text-align: center;
}

.sliderOne {
    background-image: url("img/ice-cream-slider-1.png"),
radial-gradient(#cbf1dc 20%,  transparent 60%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sliderTwo {
    background-image: url("img/ice-cream-slider-2.png"),
    radial-gradient(#cbdff0 20%, transparent 60%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.sliderThree {
    background-image: url("img/ice-cream-slider-3.png"),
    radial-gradient( #efdad1 20%, transparent 60%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.sliderOne h1,
.sliderTwo h1,
.sliderThree h1 {
    margin: 0;
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slider-conteiner .button {
    display: block;

    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;



    width: 280px;
    height: 65px;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 32px;
}

.slider-conteiner label {
    position: absolute;
    z-index: 100;
    display: block;

    width: 17px;
    height: 17px;

    border: 2px solid #ffffff;
    border-radius: 50%;
}

.slider-conteiner label:nth-of-type(1) {
    bottom: 84px;
    left: 2.25%;
}
.slider-conteiner label:nth-of-type(2) {
    bottom: 84px;
    left: calc(2.25% + 29px);
}

.slider-conteiner label:nth-of-type(3) {
    bottom: 84px;
    left: calc(2.25% + 58px);
}
.slider-conteiner input:checked + label {
    background-color: #ffffff;
}

/*--------------------------------*/

.banner-container {
    position: relative;
    top: -50px;
    z-index: 2;
    display: flex;
    justify-content: space-between;

}
.banner {
    display: flex;
    flex-wrap: wrap;

    padding-top: 35px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;

    width: 48.8%;
    box-sizing: border-box;

    border-radius: 15px;
}

.banner-1 {
    margin-right: 2.16%;

    background-image: url("img/background-crimson.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-2 {
    background-image: url("img/background-chokolate.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    margin-bottom: 35px;

    font-size: 35px;
    font-weight: 700;
    line-height: 0px;
}
.banner p {
    margin: 0;
    margin-bottom: 45px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.banner .button {
    display: block;

    margin-left: auto;
    padding-top: 22px;

    box-sizing: border-box;
}
/*-------------------------------*/
.hit-catalog-conteiner {
    position: relative;
    top: -10px;
    margin-bottom: 25px;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;


    margin: 0;
    margin-left: -2%;
    padding: 0;

    list-style: none;
}

.catalog-item {
    display: flex;
    align-items: stretch;
    position: relative;
    z-index:  10;

    margin-left: 2%;

    max-width: 23%;

}
.catalog-item:not(:last-of-type) {

}

.catalog-item div:first-of-type {
    position: relative;
    text-align: center;
}
.ice-cream-name {
    position: relative;

    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.ice-cream-name:hover,
.ice-cream-name:focus,
.ice-cream-name:active {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.5);
}



.catalog-item div p:nth-of-type(1) {
    position: absolute;
    bottom: 70px;
    left: 0;
    margin: 0;

    font-size: 45px;
    font-weight: 500;
    text-shadow: 1px 1px 3px  rgba(0,0,0, 0.5);
}
.catalog-item div p:nth-of-type(2) {
    position: absolute;
    bottom: 75px;
    left: 118px;
    margin: 0;

    font-size: 30px;
    font-weight: 500;
    text-shadow: 1px 1px 5px  rgba(0,0,0, 0.6);
}

.catalog-list img {
    position: relative;

    width: 100%;
    height: auto;

    margin-bottom: 8px;
}

.catalog-item .catalog-item-wrapper {
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -42%);

    display: none;

    width: 110%;
    height: 124.5%;
    box-sizing: border-box;

    text-align: center;

    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0px 3px 25px -15px #000000;
    border-radius: 5px;
}

.catalog-item .catalog-item-wrapper .button {
    display: block;

    margin-top: auto;
    margin-bottom: 15px;
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
}

.hit-catalog-conteiner .catalog-item div:first-of-type::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    content: "";

    width: 62px;
    height: 62px;

    background-image: url("img/hit.png");
    background-repeat: no-repeat;
    background-position: center;
}
/* оживляем карточки товара на главной странице*/
.catalog-item:hover  > div:nth-of-type(2)  {
    display: flex;
}

/* раздел о магазине*/

.about-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 10px;


    color: #323232;

    border-radius: 15px;

    background-image: url("img/background-waffles.png");
    background-repeat: repeat;
    background-origin: content-box;
}
.about-shop h3 {

    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}


.about-shop div {
    display: flex;

    width: 100%;
}

.about-shop div:nth-of-type(1) {
    margin-bottom: 8px;
}
.about-shop p {
    position: relative;

    margin: 0;
    margin-left: 10px;

    width: 49.5%;

    padding-top: 15px;
    padding-left: 57px;
    padding-right: 20px;

    box-sizing: border-box;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.about-shop p::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";

    width: 49px;
    height: 49px;
}

.about-shop div:first-of-type p:first-of-type::before {
    background-image: url("img/ic-cream-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.about-shop div:first-of-type p:last-of-type::before {
    background-image: url("img/cow-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.about-shop div:last-of-type p:first-of-type::before {
    background-image: url("img/leaflet-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.about-shop div:last-of-type p:last-of-type::before {
    background-image: url("img/thermometer-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}



.blog-news-write-us {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.blog-news,
.write-us {

    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;

    width: 48.8%;
    box-sizing: border-box;

    border-radius: 15px;
}

.blog-news {

    padding-right: 30px;

    margin-right: 2.16%;

    background-image: url("img/background-Strawberry.png");
    background-repeat: no-repeat;
    background-position: 20% 40%;

    color: #000000;
}

.blog-news p {

    margin: 0;
    margin-bottom: 8px;

    font-size: 16px;
    font-weight: 500;
}

.blog-news a {

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
    color: #e84d37;
    text-decoration-color: rgba(255, 188, 158, 0.5);
}



.write-us {

    background-color: #f8f7f4;
    border: 6px solid;
    border-radius: 15px;
    border-image: url("img/background-post.png") 10;
}

.write-us p {

    margin: 0;
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

.write-us-form {
    display: flex;
    justify-content: space-between;
}
.write-us-form .button {

    padding-top: 0;
}
.write-us input {

    width: 368px;
    height: 43px;

    margin-right: 10px;
    padding-left: 15px;

    font-size: 16px;
    font-weight: 400;

    border: 1px solid #d3d3d2;
    border-radius: 4px;

}


.map {
    position: relative;
    z-index: 1;

    min-height: 430px;
    background-image: url("img/Background-map.png");
}

.contacts {
    position: absolute;
    top: 60px;
    right: 2.25%;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;

    padding-top: 30px;
    padding-left: 25px;

    width: 300px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;

    background-color: #fefefe;
    border-radius: 15px;
}
.contacts span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}
.button-contacts {
    display: block;


    margin-bottom: 30px;
    padding-top: 22px;
    padding-left: 26px;
    padding-right: 26px;

    box-sizing: border-box;

    text-align: center;
}

.map .container {
    position: relative;
}

/* стили для футера */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 100px;
}

/* иконки социальных сетей */
.social-footer {
    display: flex;

    margin: 0;
    margin-right: 2.25%;
    padding: 0;

    width: 190px;

    list-style: none;
}

.social-footer-link {
    display: flex;

    width: 32px;
    height: 32px;

    border: 2px solid rgba(255,255,255, 0.7);
    border-radius: 50%;

    opacity: 0.8;
}

.social-footer-link:hover,
.social-footer-link:focus {
    opacity: 1;
}
.social-footer-link:active {
    background-color: rgba(0,0,0, 0.3);
}
.social-footer-item:nth-of-type(1) a {
    background-image: url("img/socialTW.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.social-footer-item:nth-of-type(2) a {
    background-image: url("img/socialIN.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.social-footer-item:nth-of-type(3) a {
    background-image: url("img/socialFB.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.social-footer-item:nth-of-type(4) a {
    background-image: url("img/socialVK.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-footer-item:not(:last-of-type) {
    margin-right: 15px;
}



/* документы для клиентов */

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    margin-right: 2.25%;

    padding-top: 20px;

    width: 46.6%;

    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255, 0.5);
}
.footer-menu-link {
    display: block;

    margin-bottom: 10px;
}

.footer-menu-2 {
    width: 170px;
}
.footer-menu-1 {
    width: 140px;

    padding-left: 15px;
}

.footer-menu-1 a:first-child {
    font-weight: 700;

}
.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {

    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.5);
}

/* авторские прова */

.footer-copyright {
    width: 190px;

    text-align: right;


    font-size: 12px;
    font-weight: 400;
}

.footer-copyright img {
    display: block;
    margin-bottom: 10px;
}
.footer-copyright p {
    margin: 0;
    padding: 0;
}

.footer-copyright a {
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255, 0.5);
}
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
    color: #ffbc9e;
    text-decoration-color: rgba(255, 188, 158, 0.5);
}

/* модальное окно формы обратной связи */



.modal-feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);

    display: none;

    padding-top: 20px;
    padding-left: 25px;

    width: 480px;
    height: 440px;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;
    color: #000000;

    border-radius: 15px;

    background-color: #f8f7f4;
}
.modal-feedback p {

    margin: 0;
    margin-bottom: 20px;

    font-size: 24px;
}

.close-modal-feedback  {
    position: absolute;
    top: 18px;
    right: 18px;

    width: 19px;
    height: 19px;

    border: none;
    background-color: transparent;

    outline: none;

}

.close-modal-feedback::after,
.close-modal-feedback::before {
    position: absolute;
    top: 50%;
    left: 50%;

    content: "";

    width: 3px;
    height: 23px;

    background-color: #000000;
}

.close-modal-feedback::after {
    transform: translateY(-50%) rotate(45deg);
}

.close-modal-feedback::before {
    transform: translateY(-50%) rotate(-45deg);
}

.modal-feedback-name,
.modal-feedback-email {
    margin-bottom: 20px;
    padding-left: 15px;

    width: 263px;
    height: 42px;
    box-sizing: border-box;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal-feedback-message {
    margin-bottom: 20px;
    padding-left: 15px;

    width: 426px;
    height: 153px;
    box-sizing: border-box;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.sent-feedback-form {
    margin-left: 295px;
    padding-top: 0;
}

.overlay-window {
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0, 0.3);
}

/*стили для каталога*/




.inner-page .catalog-item {
    margin-bottom: 40px;
}
.inner-page .catalog-item:nth-of-type(1) {
    z-index: 12;
}
.inner-page .catalog-item:nth-of-type(2) {
    z-index: 12;
}
.inner-page .catalog-item:nth-of-type(3) {
    z-index: 12;
}
.inner-page .catalog-item:nth-of-type(4) {
    z-index: 12;
}
.inner-page .catalog-item:nth-of-type(5) {
    z-index: 10;
}
.inner-page .catalog-item:nth-of-type(6) {
    z-index: 10;
}
.inner-page .catalog-item:nth-of-type(7) {
    z-index: 10;
}
.inner-page .catalog-item:nth-of-type(8) {
    z-index: 10;
}
.inner-page .catalog-item:nth-of-type(9) {
    z-index: 8;
}
.inner-page .catalog-item:nth-of-type(10) {
    z-index: 8;
}
.inner-page .catalog-item:nth-of-type(11) {
    z-index: 8;
}
.inner-page .catalog-item:nth-of-type(12) {
    z-index: 8;
}

/*хлебные крошки*/

.breadcrambs {
    display: flex;


    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    list-style: none;

    font-size: 14px;
    font-weight: 400;
}

.breadcrambs-item {
    position: relative;
    margin-right: 25px;


}
.breadcrambs-link {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255,255 , 0.5);

}

.breadcrambs-item::after,
.breadcrambs-item::before {
    position: absolute;
    top: 50%;
    right: -14px;

    content: "";

    margin-top: -3px;

    width: 4px;
    height: 4px;

    border: 1px solid #ffffff;
    border-left: none;
    border-bottom: none;

    transform: rotate(45deg);
}

.breadcrambs-item::after {
    right: -16px;
}

.inner-page h2 {

    margin: 0;
    margin-bottom: 35px;

    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}
.filter {
    width: 860px;

    margin-bottom: 40px;

    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* стили выпадающего списка*/
.filter-selec-list {
    position: relative;

    padding-left: 15px;

    width: 193px;
    height: 36px;

    font-size: 16px;
    color: #ffffff;
    -webkit-appearance: none;
    outline: none;
    background-color: #aabab0;
    border: none;
    border-radius: 20px;
}
.filter-selec {
    position: relative;

    margin-bottom: 20px;
}
.filter-selec::after {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 10;
    content: "";

    width: 0px;
    height: 0px;

    border-top: 10px solid #ffffff;
    border-right: 6px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 6px solid transparent;
}

/* как поменять цвет выподающего списка? */
.filter-selec-list > option {

    background-color: #ffffff;
}
.filter-selec-list:hover,
.filter-selec-list:focus {
    color: #000000;
}
/*разобраться почему не работает*/
.filter-selec-list:hover + .filter-selec::after,
.filter-selec-list:focus + .filter-selec::after {
    border-top: 10px solid #000000;
}

/* стили ползунка*/
.range-wripper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 218px;
    height: 36px;

    background-color: #aabab0;
    border-radius: 20px;
}
.range-wripper input {
    display: none;
}
.range-wripper label {
    position: relative;
    display: block;

    width: 176px;
    height: 4px;

    background-image: linear-gradient(to right, #cbd4cd, #cbd4cd 20%, #f8f7f4 20%, #f8f7f4 80%, #cbd4cd 80%, #cbd4cd);
}

.range-wripper label:after,
.range-wripper label:before {
    position: absolute;
    top: 50%;
    display: block;

    margin-top: -10px;

    content: "";

    width: 2px;
    height: 2px;

    border: 8px solid #FFFFFF;
    border-radius: 50%;

    background-color: #ababab;
}

.range-wripper label:after {
    left: 25px;
}

.range-wripper label:before {
    right: 25px;
}


/* стили радиокнопок*/

.radio-wrapper {
    display: flex;
    align-items: center;
    width: 415px;
    height: 36px;

    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    background-color: #aabab0;
    border-radius: 20px;
}

.radio-wrapper input {
    display: none;

}
.radio-wrapper label {
    position: relative;
    margin-left: 50px;

    opacity: 0.8;
}

.radio-wrapper label:focus,
.radio-wrapper label:hover {
    opacity: 1;
}

.radio-wrapper label::before {
    position: absolute;
    top: 50%;
    left: -30px;
    display: block;

    transform: translateY(-50%);


    content: "";

    width: 8px;
    height: 8px;

    border: 4px solid #aabcb2;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ffffff;

}
.radio-wrapper input:checked +label::before{
    background-color: #ffffff;

}
.radio-wrapper input:disabled + label {
    opacity: 0.4;
}

/* стили чекбоксов*/

.checkbox-wrapper {
    display: flex;
    align-items: center;
    width: 700px;
    height: 36px;

    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    background-color: #aabab0;
    border-radius: 20px;

}
.checkbox-wrapper input {
    display: none;
}
.checkbox-wrapper label {
    position: relative;
    margin-left: 50px;

    opacity: 0.8;
}

.checkbox-wrapper label:before {
    position: absolute;
    top: 50%;
    left: -30px;

    display: block;
    content: "";
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    border: 2px solid #ffffff;

    opacity: 0.8;
}
.checkbox-wrapper label:after {
    position: absolute;
    top: 0;
    left: -25px;

    display: none;
    content: "";
    transform: rotate(135deg);


    width: 14px;
    height: 6px;

    border: 4px solid #ffffff;
    border-bottom: none;
    border-left: none;

    opacity: 0.8;
}

.checkbox-wrapper input:checked  + label:after {
    display: block;
}

.checkbox-wrapper label:focus,
.checkbox-wrapper label:hover {
    opacity: 1;
}

.checkbox-wrapper input:disabled +label {
    opacity: 0.4;
}


.filter-btn {

    margin-top: auto;

    width: 142px;
    height: 36px;

    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;

    background-color: #aabab0;
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.filter-btn:hover,
.filter-btn:focus {
    color: #000000;
    background-color: #fbfcfb;
}

.filter-btn:active {

    background-color: #eaeaea;
    box-shadow: 0 -1px 2px 0  #696969;
}

.filter p {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 15px;
}

* {
    outline: 1px dotted chartreuse;
}
















.invisible {
    display: none;
}
.visible {
    display: block;
}

.theme-1 {
    background-color: #849d8f;
}
.theme-2 {
    background-color: #8996a6;
}
.theme-3 {
    background-color: #9d8b84;

}